:root {
    --text-color: white;
    --dark-blue: #0015FF;
    /*--light-blue: #426DE8;*/
    --light-blue: #3041FF;
    --background-color: #68BCFF;
}

body {
    background-color: var(--background-color);
}


.navigation {
    display: flex;
    padding: 0;
    background-color: var(--dark-blue);
}

.nav-right {
    margin: 0 0 0 auto;
}

nav button {
    background-color: var(--dark-blue);
    color: white;
    padding: 14px 25px;
    border: var(--dark-blue) 1px solid;
    /*border: none;*/
    cursor: pointer;
    outline: none;
}

nav button:focus {
    outline: none;
}

nav button:hover {
    background-color: var(--light-blue);
}

.active-button {
    background-color: var(--light-blue);
}


section {
    display: none;
}

.active {
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    line-height: 30px;
    width: 100%;
    background: var(--dark-blue);
    color: var(--text-color);
}

.nav-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.vertically-centered {
    margin: auto;
    padding-right: 0;
}

.vertically-centered button {
    display: block;
    width: 100%;
}

